@use '../../../styles/mixins' as *;

.modalButton {
    position: relative;
    padding: 0.5rem 1.25rem;
    box-shadow: var(--box-shadow-200);
    cursor: pointer;
    @include transitionMain;

    &:hover, &:focus {
        box-shadow: var(--box-shadow-400);
    }

    &:active {
        box-shadow: var(--box-shadow-200);
    }
}