@use '../../../../../styles/mixins' as *;

.contactSection {
    position: relative;
    height: 100%;
    width: 100%;
    border-top: var(--border-400);
    border-bottom: var(--border-400);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-600);
}