@use '../../../styles/mixins' as *;

.aboutModals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-600);

    @include respond(laptop) {
        width: 100%;
        height: 60%;
    }
}