@use '../../../styles/mixins' as *;

.internalLinkBox {
  padding: var(--spacing-100) var(--spacing-200);
  box-shadow: var(--box-shadow-200);
  background-color: hsl(var(--color-light));
  color: hsl(var(--color-link));
  text-align: center;
  text-transform: capitalize;
  @include transitionMain;

  &:hover,
  &:focus {
    background-color: hsl(var(--color-link));
    color: hsl(var(--color-light));
    box-shadow: var(--box-shadow-400);
  }
}
