.border-1 {
    border: var(--border-100);
}

.border-2 {
    border: var(--border-200);
}

.border-3 {
    border: var(--border-300);
}

.border-4 {
    border: var(--border-400);
}

.border-5 {
    border: var(--border-500);
}

.border-6 {
    border: var(--border-600);
}

.border-7 {
    border: var(--border-700);
}

.border-8 {
    border: var(--border-800);
}

.border-9 {
    border: var(--border-900);
}