.br-1 {
  border-radius: var(--br-100);
}

.br-2 {
  border-radius: var(--br-200);
}

.br-3 {
  border-radius: var(--br-300);
}

.br-4 {
  border-radius: var(--br-400);
}

.br-5 {
  border-radius: var(--br-500);
}

.br-6 {
  border-radius: var(--br-600);
}

.br-7 {
  border-radius: var(--br-700);
}

.br-8 {
  border-radius: var(--br-800);
}

.br-9 {
  border-radius: var(--br-900);
}

.br-pill {
  border-radius: var(--border-radius-pill);
}
